.title {
    float: center;
    width: 79%;
    margin-left: 10%;
}
.left {
    float: left;
    width: 69%;
    margin-left: 10%;
}
.left img {
    float: right;
}
.right {
    float: right;
    width: 20%;
}
input.reportbutton {
    width: 8em; 
    height: 5em;
    font-size: 5em;
}